@charset "UTF-8";

body {
  position: absolute;
  width: 100%;
}

li {
  list-style: none;
}

/*header*/

header {
  z-index: 20;
  position: absolute;
}

.form-inline {
  max-width: 250px;
  position: absolute;
}
.dropmenu{
  *zoom: 1;
  list-style-type: none;
  width: 960px;
  margin: 5px auto 30px;
  padding: 0;
}

.dropmenu:before, .dropmenu:after{
  content: "";
  display: table;
}
.dropmenu:after{
  clear: both;
}

.dropmenu li{
  position: relative;
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}

.dropmenu li.first{
  margin-right: 15px;
}

.dropmenu li.last{
  margin-right: 15px;
}

.dropmenu li a{
  display: block;
  margin: 0;
  padding: 15px 0 11px;
  background: #8a9b0f;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
}

.dropmenu li ul{
  list-style: none;
  z-index: 9999;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}

.dropmenu li ul li{
  width: 100%;
  display: none;
}

.dropmenu li ul li a{
  padding: 13px 15px;
  border-top: 1px solid #7c8c0e;
  background: #6e7c0c;
  text-align: left;
}

.dropmenu li:hover > a{
  background: #6e7c0c;
}

.dropmenu li a:hover{
  background: #616d0b;
}

#normal li ul {
  display: none;
}

#normal li:hover ul {
  display: block;
}

.name_box {
  width: 240px;
  float: left;
  height: 40px;
  margin-top: 2px;
}

.name_box input {
  width: 170px;
  height: 40px;
}

.address_box {
  width: 300px;
  float: right;
}

.address_box input {
  height: 40px;
}

#form1{
  float: right;
  position:relative;/*フォームの相対位置*/
  max-width:270px;/*フォームのサイズ*/
  margin-bottom:15px;/*フォームの下に余白*/

}
/*検索ボックス*/
#sbox{
  height:40px;/*検索ボックスの高さ*/
  padding:0 10px;/*テキスト位置調整*/
  border-radius:2px 0 0 2px;/*検索ボックスの角を丸める*/
  background:#eee;/*検索ボックスの背景カラー*/
}
/*検索ボタン*/
#sbtn{
  width: 70px;
  height: 45px;
  left:270px;/*検索ボタンの位置調整*/
  top:0;
  border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/
  background:#7fbfff;/*検索ボタンの背景カラー*/
  border:none;/*検索ボタンの枠線を消す*/
  color:#fff;/*検索ボタンのテキストカラー*/
  font-weight:bold;/*検索ボタンのテキスト太字*/
  font-size:16px;/*検索ボタンのフォントサイズ*/
}

.bg-light {
  width: 100%;
  position: fixed;
  z-index: 30;
}

.container.mt-3 {
  margin-top: 5rem!important;
}

.collapse.navbar-collapse {
  position: absolute;
  right: 0;
}

.contents {
  width: 400px;
  padding: 0;

}

.img img {
  width: 100px;
  height: 100px;
  float: left;
}

li.user_name {
  list-style: none;
  font-size: 25px;
  color: black;
  float: left;
  margin: 10px;
  font-weight: 800;
}

li.user_name:hover {
  transform: scale(1.1);
  color: #2fa0ec;
}

li.user_name a {
  color: black;
  font-size: 20px;
}

li.user_name a:hover {
  color: #2fa0ec;
}

li.login {
  list-style: none;
  font-size: 25px;
  color: black;
  float: right;
  margin: 10px;
  font-weight: 800;
}

li.login:hover {
  transform: scale(1.1);
}

li.login a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

li.login a:hover {
  color: #2fa0ec;
}

.sign {
  list-style: none;
  float: right;
  font-size: 25px;
  font-weight: 800;
  margin: 10px;
}

.sign:hover {
  transform: scale(1.1);
}

.sign a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.sign a:hover {
  color: #2fa0ec;
}

.content {
  text-align: center;
}

.content p {
  font-size: 20px;
  font-weight: 800;
}

footer {
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  text-align: center;
  font-size: 15px;
  background-color: rgba(255, 255, 255);
}

/*register*/

.form-control {
  padding: .375rem .75rem!important;
}

.main {
  text-align: center;
  padding-top: 30px;
  border: 2px solid black;
}

.main.create {
  margin-bottom: 100px;
}

.form.contents {
  margin: 10px auto;
}

.logo.text {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}

#register_form {
  width: 500px;
  height: 730px;
  border: 3px solid black;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

.label-backcolor {
  border: 1px solid red;
  border-radius: 4px;
  padding: 0 5px;
  font-size: 0.8rem;
  margin-left: 10px;
}

.red-text {
  color: #F44336!important;
}

input[disabled] {
  pointer-events: none;
  background-color: rgba(123, 128, 132, .5)!important;
}

input[type='submit'] {
  border: none;
  width: 200px;
  height: 40px;
  background-color: rgba(0, 133, 201);
  color: white;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
}

input[type='submit']:hover {
  transform: scale(1.1);
}

.input {
  margin: 1em!important;
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}

.input--filled  {
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
}

.input__field--hoshi {
  font-size: 17px!important;
  font-weight: 800!important;
  padding: 1.0em 0!important;
  color: black !important;
  padding-bottom: .1em!important;
}

.input__label-content {
  font-size: 17px!important;
  font-weight: 800!important;
  padding: .9em 0!important;
  color: black !important;
}

.submit {
  margin: 30px auto;
}

ul.note {
  padding-left: 10px;
}

ul.note li.title {
  list-style: none;
  color: black;
  text-align: left;
  margin: 10px auto;
  font-size: 15px;
}

ul.note li {
  list-style: none;
  color: blue;
  text-align: left;
  margin: 10px auto;
  font-size: 15px;
}

#username_error {
  text-align: center;
  display: inline-block;
}

#usermail_error {
  text-align: center;
  display: inline-block;
}

#userpassword_error {
  text-align: center;
  display: inline-block;
}

#userpasswordsub_error {
  text-align: center;
  display: inline-block;
}

.error {
  height: 25px;
  display: block;
}

.error.edit {
  text-align: center!important;
}

.error.edit .error_text {
  color: red;
}

.dump_error_meaasage {
  color: red;
  font-size: 15px;
}

.error_meaasage{
  color: red;
}

/*new_confirm*/
.main_confirm {
  width: 900px;
  height: 430px;
  margin: 30px auto;
  background-color: rgba(255, 255 ,255);
}

tr {
  font-size: 18px!important;
}

.container {

}

.row form.col.s12 {
  margin-top: 30px;
}

.btn {
  margin: 20px auto;
  width: 250px;
  background-color: #42a5f5;
}

/*Login*/

.main.login {
  height: 100vh;
}

div.main.loginform {
  position: absolute;
  width: 100%;
  height: 90vh;
  background-color: rgba(123, 128, 132, .1);
}

.form.login_form_main.contents {
  width: 700px;
  height: 700px;
  right: 0;
  left: 0;
  margin: 10px auto;
  background-color: rgba(255, 255, 255);
}

#login_form_main {
  width: 650px;
  height: 580px;
  border: 3px solid black;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

.logo.login_form {
  margin: 20px auto;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
}

.logo.login {
  padding: 25px 0;
}

.logo.text.login {
  margin: 0;
}

.container {
  text-align: center;
}

.container-button {
  width: 236px;
  margin: 10px auto;
  border: 2px solid rgba(30, 50, 132);
  background-color: rgba(30, 50, 132, .9);
  height: 40px;
  border-radius: 5px;
}

.container-button:hover {
  transform: scale(1.1);
}

.container.facebook {
  display: none;
}

.container-button.google {
  width: 236px;
  margin: auto;
  border: 2px solid red;
  background-color: rgba(219, 74, 57);
  height: 40px;
  border-radius: 5px;
  text-align: left;
}

.container-button img {
  width: 35px;
  height: 35px;
  position: absolute;
  z-index: 5;
}

.container-button img.google {
  position: relative;
  width: 33px;
  height: 33px;
  margin: 1px;
}

.container.google {
  display: none;
}

.container.btn {
  padding-left: 38px;
  text-decoration: none;
  color: white;
  font-size: 19px;
  width: 232px;
}

.container-button.google:hover {
  transform: scale(1.1);
}

.container-button.google a {
  font-size: 20px;
  color: white;
  position: absolute;
  margin: 3px;
  margin-left: 15px;
}

.container-button.google a:hover {
  color: white!important;
  text-decoration: none;
}

li.forget {
  text-align: center!important;
}

li.new_account {
  text-align: center!important;
}

.error_meaasage.login {
  font-size: 18px!important;
}

/*ユーザー情報編集*/

#main_contents {
  height: 120vh!important;
}

.main.mypage .contents {
  width: 100%;
}

.title {
  margin: 10px;
  text-align: center;
}

.title .text {
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  color: black;
}

.row .col.s6 {
  margin: 10px;
}

.row .col.s6 label {
  display: block;
  font-size: 18px;
  font-weight: 800;
}

.row .col.s6 input {
  width: 300px;
  border-radius: 5px;
  font-size: 20px;
}

.validate.edit {
  padding-left: 10px!important;
}

.button {
  text-align: center;
  margin-top: 20px;
}

.button #submit {
  width: 150px;
  margin: 0 30px;
}

.back {
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-weight: 800;
  color: white;
  background-color: rgba(0, 133, 201);
  margin: 0 10px;
  cursor: pointer;
}

.back a {
  text-decoration: none;
  color: white;
}

.back:hover {
  transform: scale(1.1);
}

.input_file {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 300px;
  height: 155px;
}

.input_file_tittle {
  margin: 0;
  text-align: left;
  color: black;
  font-weight: 800;
  font-size: 1rem;
}

.file {
  margin-bottom: 15px;
}

.preview img {
  width: 80px;
  margin: 10px auto;
}

.file input[type="file"] {
  font-size: 10px;
}

.point_title {
  color: black;
}

.point_message {
  color: red;
}

.contents.mypage .point {
  margin-top: 30px;
}

.error_fild {
  width: 100%;
  height: 24px;
}

/*ユーザーページ*/

.back.change {
  font-size: 15px!important;
  border-radius: 20px;
}

.password_change {
  text-align: right;
}

.main_mypage {
  padding-top: 30px;
  height: 100vh;
}

.profilecard {
  width: 50vw;
  margin: 3vw auto;
  padding: 1vw;
  background-color: rgba(255,255,255);
  border: solid 10px #f7b52c;
}

.preview {
  display: inline-block;
}

.preview img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.profile-header {
  display: flex;
}

.profile-header img {
  width: 25%;
  height: 25%;
}

.profile-header p {
  margin-left: 20px;
  padding-top: 18px;
}

.date_joined {
  float: right;
}

.created_date {
  height: 25px;
  margin: 0!important;
  padding: 0!important;
}

.created_date span {
  font-size: 10px;
}

.profile-header p a img {
  width: 25px;
  height: 15px;
  margin-left: 5px;
}

.profile-footer {
  text-align: center;
}

p span {
  display: inline-block;
}

p span.user-name {
  font-size: 25px!important;
}

p span.user-email {
  font-size: 20px!important;
}

p span.room-name {
  padding-left: 10px;
}

a img .edit {
  margin-left: 1vw;
  width: 2vw;
  height: auto;
}

a:hover {
  filter: brightness(100%);
}

.profile-content {
  margin: 1vw 0;
  text-align: center;
}

.profile-content p {
  padding: 1vw;
  line-height: 1.4;
  font-weight: 400;
}

.profilecard .fixed {
  margin-top: 80px;
}

.stream {
  margin: 0 auto;
}

.stream_content {
  height: 50px;
}

.content {
  margin-top: 2vw;
  background-color: #EEEEEE;
}

.stream-header {
  display: inline-block;
}

.stream-header img {
  margin: 1vw 1vw;
  width: 6vw;
  height: 6vw;
}

.stream-header p {
  margin-left: 5px;
}

.inline .stream_content .profile_img {
  display: inline-block;
  margin-left: 30px;
}

.inline .stream-content .profile_img img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-left: 50px;
}

.inline {
  display: inline-block;
}

.sns_login {
  height: 23px;
  text-align: right;
}

.sns_login span {
  font-size: 10px;
}

/*パスワード再設定*/

.title_text {
  font-size: 25px;
}

.password_main {
  width: 500px;
  margin: 100px auto;
  border: 2px solid black;
}

.form-group {
  width: 300px;
  margin: 10px auto;
}

#id_email {
  padding: 0 10px;
}

.password.btn.btn-primary {
  width: 200px;
}

.point.login {
  margin: 10px auto;
}

.remake {
  width: 730px;
  height: 350px;
  border: 2px solid black;
  margin: 100px auto;
}

.remake p {
  font-size: 25px;
  text-align: center;
  margin: 80px auto;
}

.remake div {
  text-align: center;
}

.create_done {
  margin-top: 30px;
}

.commit_text_mail {
  font-size: 25px;
  margin-top: 50px;
}

.errorlist {
  margin: 10px auto;
  color: red;
  list-style: none;
  padding: 0;
}

.remake_main {
  margin: 100px auto;
  height: 450px;
  border: 2px solid black;
  padding-top: 30px;
}

.row_login {
  display: -ms-flexbox;
  display: inline-block;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 100px!important;
}

.remake_main_text {
  margin: 130px;
  font-size: 25px;
}

.container.center-align.btn.waves-effect {
  background-color: rgba(30, 50, 132, .9)!important;
  margin: 0!important;
  padding-top: 2px!important;
}

@media (min-width: 768px){
  .offset-md-3 {
    margin-left: 0!important;
  }
  .col-md-6 {
    max-width: 100%!important;
  }
}

/*パスワード変更*/

.main_remake_password {
  text-align: center;
  padding-top: 30px;
  border: 2px solid black;
  margin: auto;
  margin-top: 100px;
  width: 800px;
}

.content_main {
  z-index: 5;
  position: absolute;
  max-width: 940px;
  margin-top: 100px;
}

.main_container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1.5fr .5fr .5fr 1.5fr;
  grid-template-rows: 310px 50px 310px 310px 50px 310px auto;
}

.item img {
  width: 100%;
  height: 100%;
}

.img_item:hover {
  filter: brightness(50%);
  color: white;
}

.hide_text {
  z-index: 10;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}

.text {
  position: absolute;
  z-index: 10;
  width: 47%;
  font-size: 25px;
  font-weight: 600;
  display: none;
}

.item {
  background: #ddd;
  padding: 10px;
  border-radius: 8px;
  border: 3px solid #ccc;
  display: table;
  width: 100%;
  height: 450px;
}

.box-big1 {
  grid-column: 1/3;
  grid-row: 1/3;
  background: #fc2;
  border-color: #fa0;
}

.box-big2 {
  grid-column: 3/5;
  grid-row: 1/3;
  background: #fc2;
  border-color: #fa0;
}

.box-big3 {
  grid-row: 3 / 4;
  background: #fc2;
  border-color: #fa0;
  grid-column: 2/4;
}

.box-big4 {
  grid-column: 1 / 2;
  background: #0ba;
  border-color: #098;
}

.box-big5 {
  grid-column: 4/5;
  grid-row: 3/3;
  background: #fc2;
  border-color: #fa0;
}

.box-big6 {
  grid-column: 1/2;
  grid-row: 4/5;
  background: #fc2;
  border-color: #fa0;
}

.box-big7 {
  grid-column: 4/5;
  grid-row: 4/5;
  background: #fc2;
  border-color: #fa0;
}

.box-big8 {
  grid-column: 1/3;
  grid-row: 5/7;
  background: #fc2;
  border-color: #fa0;
}

.box-big9 {
  grid-column: 3/5;
  grid-row: 5/7;
  background: #fc2;
  border-color: #fa0;
}

.box-big10 {
  grid-row: 4 / 5;
  background: #fc2;
  border-color: #fa0;
  grid-column: 2/4;
}

.heart {
  width: 100px;
  height: 100px;
  background: url('http://nelog.jp/wp-content/uploads/2016/03/heart_animation.png') no-repeat;
  background-position: 0 0;
  cursor: pointer;
}
.heart:hover {
  background-position: -2800px 0;
  -webkit-transition: background 1s steps(28);
  transition: background 1s steps(28);
}

.heart.commit {
  background-position: -2800px 0;
  -webkit-transition: background 1s steps(28);
  transition: background 1s steps(28);
}


@media (max-width: 600px){
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .box-big1,
  .box-big2,
  .box-big3,
  .box-big4 {
    grid-column: 1;
    grid-row: auto;
  }
}

/*詳細情報*/
.topic {
  width: 930px;
}

.image_field {
  margin-bottom: 30px;
}
