{% extends 'register/base.html' %}
{% load static %}

{% block content %}


<div class='main_mypage'>
  <div class="profilecard">
    <div class='date_joined'>
      <p class="created_date"><span>{{user.date_joined}}</span></p>
    </div>
    <div class="profile-header">
      <img src="{{user.image}}" alt="">
      <p><span class="user-name">{{user.username}}</span><a href="{% url 'register:user_update' user.pk %}"><img class="edit" src="{% static 'img/pencil.png' %}" alt=""></a></p>
    </div>
    <div class='profile-footer'>
      <p><span class="user-email">Email: {{user.email}}</span></p>
    </div>
    <div class='sns_login'>
      <!-- {% if social == facebook %}
      <span>Facebook認証済み</span>
      {% elif social == google %}
      <span>Google認証済み</span>
      {% else %} -->
      <span></span>
      <!-- {% endif %} -->
    </div>
    <div class='password_change'>
      <button type="button" name="button" class='back change'><a href="{% url 'register:password_change'%}">パスワード変更</a></button>
    </div>
  </div>
  <div class='main_content'>
    <div class="stream">
      <div class="content">
        <div class='preview'>
          <img src="{%static 'img/005p2.jpg'%}" alt="">
        </div>
        <div class="stream-header">
          <p>
            <span class="like-time">お気に入り登録:2018-12-09 15:08:01</span>
            <span class="room-name">赤丸ビルディング203</span>
            <div class="stream-content">
              <span name="comment">※コメント一部表示予定</span>
            </div>
          </p>
        </div>
        <div class="inline">
          <div class="stream-content">
            <div class='profile_img'>
              <img src="{% static 'img/wanko.png'%}" alt="">
            </div>
          </div>
        </div>
        <!-- <div class='outline'>
          <div class='stream-delete'>
            <div class='delete'>
              <a href="/mypage/edit/" class="cp_btn"></a>
            </div>
          </div>
          <div class='stream-delete'>
            <div class='delete'>
              <a href="/mypage/delete/" class="cp_btn"></a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
</div>

{% endblock %}
