{% extends "register/base.html" %}
{% block content %}
<div class='main create'>
  <div class='form contents'>
    <main id="profile_edit">
      <div class='logo'>
        <p class='logo text'>roomii <br/> 【ユーザー登録】</p>
      </div>
      <form action="" method="POST">
        <div class='error'>
          <span class="error_meaasage" id="username_error"></span>
        </div>
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
          {{ field }}
          {{ field.errors }}
        </div>
        {% endfor %}
        {% csrf_token %}
        <button type="submit" class="btn btn-success btn-lg btn-block">メール送信</button>
      <div classs='comment'>
        <ul class='note'>
          <li class='title'>【ご登録に関して、注意事項】</li>
          <li>※パスワードは半角英数字を8文字以上入力してください</li>
          <li>※パスワードは数字と半角文字を含めてください</li>
          <li>※ご利用可能なメールアドレスを入力してください</li>
        </ul>
      </div>
    </main>
  </div>
</div>
{% endblock %}
