{% extends "register/base.html" %}
{% block content %}
{% load static %}

<div class="article">
  <div class="form_company_update">
    <main id="profile_edit">
      <div class="logo">
        <p class="logo text">roomii <br> 【業者情報更新】</p>
      </div>
      <form id="company_form" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="error">
          <span class="error_meaasage" id="username_error"></span>
        </div>
        {% for list_view in company %}
        <div class="preview">
          {% if "http" not in list_view.company_image %}
            <img class="sample_img" src="/media/{{list_view.company_image}}" alt="">
          {% else %}
          <img class="sample_img" src="{{list_view.company_image}}" alt="">
          {% endif %}
        </div>

        <table class="form-company update">
          <tbody>
            <tr>
              <th><label for="id_article_image">メイン画像</label></th>
              <td><input type="hidden" name="company_image_hidden" value="{{list_view.company_image}}"><br></td>
              <td><input type="file" name="company_image" class="form-control" id="id_article_image"><br></td>
            </tr>
          </tbody>
        </table>

        <table class="form-company update">
          <tbody>
            <tr>
              <th>会社名</th>
              <td>
                <input type="text" name="company_name" maxlength="150" class="form-control" id="id_company_name" required="" value="{{list_view.company_name}}">
              </td>
            </tr>
          </tbody>
        </table>

        <table class="form-company update">
          <tbody>
            <tr>
              <th>〒郵便番号</th>
              <td>
                <input type="text" name="address_number" maxlength="150" class="form-control" id="id_address" required="" value="{{list_view.address_number}}">
              </td>
            </tr>
          </tbody>
        </table>

        <table class="form-company update">
          <tbody>
            <tr>
              <th>住所</th>
              <td>
                <input type="text" name="address" maxlength="150" class="form-control" id="id_address" required="" value="{{list_view.address}}">
              </td>
            </tr>
          </tbody>
        </table>

        <table class="form-company update">
          <tbody>
            <tr>
              <th>免許更新回数</th>
              <td>
                <select name="license_year" class="form-control" id="id_license">
                  <option value="" selected>免許の更新回数</option>
                  <option value="01">1</option>
                  <option value="02">2</option>
                  <option value="03">3</option>
                  <option value="04">4</option>
                  <option value="05">5</option>
                  <option value="06">6</option>
                  <option value="07">7</option>
                  <option value="08">8</option>
                  <option value="09">9</option>
                </select>
                <span class='error'>{{error}}</span>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="form-company update">
          <tbody>
            <tr>
              <th>免許</th>
              <td><input type="text" name="license" maxlength="45" class="form-control" id="id_license" required="" value="{{list_view.license}}">
                <span class='error' value='{{error_license}}'>{{error_license}}</span>
                <span class='error' value='{{info}}'><a href="{% url 'apps:create' %}">{{info}}</a></span>
              </td>
            </tr>
         </tbody>
       </table>

        <table class="form-company update">
          <tbody>
            <tr>
              <th>Email</th>
              <td>
                <input type="text" name="email" maxlength="45" class="form-control" id="id_email" required="" value="{{list_view.email}}">
                <span class='error'>{{error_email}}</span>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="form-company update">
          <tbody>
            <tr>
              <th>Webサイト</th>
              <td>
                <input type="text" name="web" maxlength="45" class="form-control" id="id_web" required="" value="{{list_view.web}}">

                <span class='error' value='{{error_url}}'>{{error_url}}</span>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="form-company update">
          <tbody>
            <tr>
              <th>電話番号</th>
              <td>
                <input type="text" name="tel_number" maxlength="150" class="form-control" id="id_tel_number" required="" value="{{list_view.tel_number}}">

                <span class='error' value='{{error_tel}}'>{{error_tel}}</span>
              </td>
            </tr>
          </tbody>
        </table>

        <button type="submit" class="btn btn-success btn-lg btn-block cm-remake-button">情報変更</button>

        <div classs="comment">
          <ul class="note">
            <li class="title">【ご登録に関して、注意事項】</li>
            <li>全ての項目入力してください</li>
          </ul>
        </div>
      {% endfor %}
    </form>
  </main>
  </div>
</div>
{% endblock %}
