{% extends "apps/base.html" %}
{% block content %}
<div class='article'>
  <div class='article_form'>
    <main id="profile_edit">
      <div class='logo'>
        <p class='logo text'>roomii <br/> 【物件登録】</p>
      </div>
      <form action="" method="POST" enctype="multipart/form-data">
        <div class='error'>
          <span class="error_meaasage" id="username_error"></span>
        </div>
        <div class="preview">
          <img class='sample_img' src="/media/living.jpg" alt="">
        </div>
        {{ form.non_field_errors }}
        {% for field in form %}
        <table class="form-article">
          <tbody>
            <tr>
              <th>{{ field.label_tag }}</th>
              <td>{{ field }}</br>{{ field.errors }}</td>
            </tr>
          </tbody>
        </table>
        {% endfor %}
        <div class='vacant'>
          <div class="calendar">
            <div class='start_date'>
              <label for="start_date">契約開始日</label>
              <input name='start_date' type="date" min="2019-01-01" max="2020-12-31" value="">
            </div>
            <div class='update_date'>
              <label for="update_date">更新予定日</label>
              <input name='update_date' type="date" min="2019-01-01" max="2020-12-31" value="">
            </div>
            <div class='cancel_date'>
              <label for="cancel_date">解約予定日</label>
              <input name='cancel_date' type="date" min="2019-01-01" max="2020-12-31" value="">
            </div>
          </div>
          <div class='vacant_live'>
            <label for="info">空室理由 (例:現在入居中, リフォーム中)</label>
            <input type="text" name="info" value="">
          </div>
        </div>
        <div class="preview_files">
        </div>
        {% csrf_token %}
        <button type="submit" class="btn btn-success btn-lg btn-block">登録</button>
      <div classs='comment'>
        <ul class='note'>
          <li class='title'>【ご登録に関して、注意事項】</li>
          <li>全ての項目入力してください</li>
        </ul>
      </div>
    </main>
  </div>
</div>
{% endblock %}
