{% extends "register/base.html" %}
{% block content %}

<div class="main_contents">
    <div class="caution">
        <p class="caution_text">下記のユーザーにEmailを送信しますか？</p>
    </div>
    <div id="number_list" class="user_list">
        {% for x in users %}
          {% for user_info in x %}
            {% if user_info.is_mail == 1 %}
            <ul>
                <li><img src="{{user_info.image}}" alt=""></li>
                <li class="user">{{user_info.username}}</li>
            </ul>
            {% endif %}
          {% endfor %}
        {% endfor %}
    </div>
    {% if count %}
    <div class="more_button"> 
        <a href="#" id="more_btn">もっと見る</a>
        <a href="#" id="close_btn">表示数を戻す</a>
    </div>
    {% endif %}
    
    <div class="send_button">
        <form action="" method="POST">
            {% for x in users %}
              {% for user_info in x %}
                <input type="hidden" name="hidden_user_id" value="{{user_info.id}}">
              {% endfor %}
            {% endfor %}
            <button type="submit" class="btn btn-success btn-lg btn-block mail user_list_mail">メール送信</button>
        {% csrf_token %}
        </form>
    </div>
</div>

{% endblock %}