{% extends 'base_login.html' %}
{% load static %}

{% block main %}

<div class='main login'>
  <div class='form login_form_main contents'>
    <main id="login_form">
      <div class='logo'>
        <p class='logo login_form'>roomii</p>
      </div>
      <form action="/login/" method="post" id='login_form_main' data-validate >
        {% csrf_token %}

        <div class='error'>
          <span class="error_meaasage login">{{error}}</span>
        </div>
        <div id="useremail" class="input input--hoshi">
          <input name='email' class="input__field input__field--hoshi" type="text" id="email" required/>
          <label class="input__label input__label--hoshi input__label--hoshi-color-2" for="input-5">
            <span class="input__label-content input__label-content--hoshi email">メールアドレス</span>
          </label>
        </div>
        <div id='password' class="input input--hoshi">
          <input name='password' class="input__field input__field--hoshi" type="password" id="password" required/>
          <label class="input__label input__label--hoshi input__label--hoshi-color-3" for="input-6">
            <span class="input__label-content input__label-content--hoshi password">パスワード</span>
          </label>
        </div>

        <p class="submit"><input type="submit" id='submit' value="ログイン" disabled/></p>

        <div classs='comment'>
          <ul class='note'>

            <li class='forget'><a href="/password_reset/">パスワードをお忘れの方</a></li>
            <li class='new_account'>ユーザー登録がまだの方は<a href="{% url 'register:password_reset' %}">こちら</a></li>

          </ul>
        </div>
        <div class='sns'>
          <p class='sns_text'>SNSでログインする場合</p>
          <div class="container facebook">
            <div class="container-button">
              <img src="{% static 'img/facebook_icon.png'%}" alt="">
              <a class="container center-align btn waves-effect #1565c0 blue darken-3" href="/facebook/login/">Facebookでログインする</a>
            </div>
          </div>
          <div class='container google'>
            <div class="container-button google">
              <img class='google' src="{% static 'img/google.png'%}" alt="">
              <a href="/google/login/">Login with Google</a>
            </p>
          </div>
        </div>

      </form>
    </main>
  </div>
</div>


{% endblock %}
