{% extends 'base.html' %}
{% load static %}

{% block main %}


<div class='main'>
  <div class="profilecard">
    <div class="profile-header">

      <img src="{{image}}" alt="">
      <p><span class="user-name">{{name}}</span><a href="/users/mypage/edit/"><img class="edit" src="{% static 'img/pencil.png' %}" alt=""></a></p>
      <p class="created_date"><span>{{created_at}}</span></p>
    </div>
    <div class='profile-footer'>
      <p><span class="user-email">Email: {{email}}</span></p>
    </div>
    <div class='sns_login'>
      {% if user.social == facebook %}
      <span>Facebook認証済み</span>
      {% else %}
      <span>Google認証済み</span>
      {% endif %}
    </div>
  </div>
  <!-- <div class='main_content'>
    <div class="stream">
      <div class="content">
        <div class="stream-header">
          <img src="" alt="">
          <p>
            <span class="tweet-time"></span>
            <span class="user-name"></span>
          </p>

        </div>
        <div class="inline">

          <div class="stream-content">

            <p name="comment"></p>
            <div class='inline_img'>
              <img src="" alt="">
            </div>
          </div>
        </div>
        <div class='outline'>
          <div class='stream-delete'>
            <div class='delete'>
              <a href="/mypage/edit/" class="cp_btn"></a>
            </div>
          </div>
          <div class='stream-delete'>
            <div class='delete'>
              <a href="/mypage/delete/" class="cp_btn"></a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
</div>

{% endblock %}
