{% extends 'apps/base.html' %}
{% load static %}

{% block content %}

<div class='content_main'>
  <div class='topic'>
    <div class="main_container">
      <div class="item box-big1">A</div>
      <div class="item box-big2">B</div>
      <div class="item box-big3">C</div>
      <div class="item box-big4">D</div>
      <div class="item box-big5">E</div>
      <div class="item box-big6">f</div>
      <div class="item box-big7">g</div>
      <div class="item box-big8">h</div>
      <div class="item box-big9">i</div>
      <div class="item box-big10">j</div>
    </div>
  </div>
</div>

{% endblock %}
